{
  "openapi": "3.0.0",
  "info": {
    "title": "Customer Profile API",
    "version": "v0",
    "description": "Represents a customer, identified by a customer `id` in NewStore. You can use this resource\nto manage customers and also for [clienteling](/docs/glossary.html#term-clienteling)\nactivities in NewStore applications.\n\nTypically, customers are created automatically\nwhen they place an order online or when they provide their email address\nduring an in-store purchase.\n\n**Note:**\nThe **Customer Profile API v0** will be deprecated and NewStore will announce the migration plan soon for the retailers using this API. \nWe recommend that all new integrations use the latest **Customer Profile API v1**.\n"
  },
  "components": {
    "responses": {
      "trait_Well_behaving_400": {
        "description": "Invalid request"
      },
      "trait_Well_behaving_404": {
        "description": "Not found"
      },
      "trait_Well_behaving_409": {
        "description": "Conflict"
      },
      "trait_Well_behaving_500": {
        "description": "Internal server error"
      }
    },
    "parameters": {
      "trait_Sortable_sort": {
        "name": "sort",
        "in": "query",
        "description": "Sorts the returned values. Takes two values separated by the pipe character (`|`), the field to sort and the sort order.",
        "schema": {
          "type": "string"
        }
      },
      "trait_Filterable_filter[created_by]": {
        "name": "filter[created_by]",
        "in": "query",
        "description": "ID of the associate who created the consumer profile.\n",
        "schema": {
          "type": "string"
        }
      },
      "trait_Filterable_filter[extended_attributes.name]": {
        "name": "filter[extended_attributes.name]",
        "in": "query",
        "description": "Name of a specific extended attribute.\nShould be used in combination with the `extended_attributes.value` filter.\n",
        "schema": {
          "type": "string"
        }
      },
      "trait_Filterable_filter[extended_attributes.value]": {
        "name": "filter[extended_attributes.value]",
        "in": "query",
        "description": "Value of a specific extended attribute.\nShould be used in combination with the `extended_attributes.name` filter.\n",
        "schema": {
          "type": "string"
        }
      },
      "trait_Paginated_offset": {
        "name": "offset",
        "in": "query",
        "description": "The page offset.",
        "schema": {
          "default": 0,
          "minimum": 0,
          "type": "integer"
        }
      },
      "trait_Paginated_count": {
        "name": "count",
        "in": "query",
        "description": "The number of requested documents.",
        "schema": {
          "default": 10,
          "minimum": 1,
          "maximum": 500,
          "type": "integer"
        }
      }
    },
    "securitySchemes": {
      "newStoreAccessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "servers": [
    {
      "url": "https://dodici.x.newstore.net/v0/d",
      "description": "Sandbox"
    },
    {
      "url": "https://dodici.s.newstore.net/v0/d",
      "description": "Staging"
    },
    {
      "url": "https://dodici.p.newstore.net/v0/d",
      "description": "Production"
    }
  ],
  "security": [
    {
      "newStoreAccessToken": []
    }
  ],
  "paths": {
    "/consumer_profiles": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of matching customers is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Provides a list of customer profiles.",
                  "example": {
                    "items": [
                      {
                        "email": "john@example.com",
                        "id": "6932760230624376023466",
                        "first_name": "John",
                        "last_name": "Smith",
                        "phone_number": "+555555555555",
                        "country_code": "US",
                        "addresses": [
                          {
                            "type": "billing",
                            "company": "ACME",
                            "first_name": "John",
                            "last_name": "Smith",
                            "address_line_1": "137 W 67th St",
                            "address_line_2": "",
                            "zip_code": "",
                            "city": "",
                            "state": "",
                            "country_code": "AD",
                            "contact_phone": "",
                            "id": "",
                            "created_at": "2020-01-24T10:39:22.655Z",
                            "updated_at": "2020-01-24T10:39:22.655Z",
                            "revision": 1
                          }
                        ],
                        "created_by": "",
                        "created_by_name": "",
                        "store_id": "7c9f2605-9fb3-5444-8fee-47fe51608efe",
                        "store_name": "NYC_1_5thave",
                        "created_at": "2020-01-24T10:39:22.656Z",
                        "updated_at": "2020-02-24T10:39:22.656Z",
                        "revision": 1
                      }
                    ],
                    "pagination_info": {
                      "count": 1,
                      "total": 20,
                      "offset": 1
                    }
                  },
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "pagination_info": {
                          "type": "object",
                          "description": "Contains default fields for paginatable APIs.",
                          "required": [
                            "count",
                            "total",
                            "offset"
                          ],
                          "properties": {
                            "count": {
                              "description": "Contains the count of the contained array.",
                              "type": "integer"
                            },
                            "total": {
                              "description": "Contains the total count of documents. Will be null if the API is not able to determin a total count.",
                              "type": "integer",
                              "nullable": true
                            },
                            "offset": {
                              "description": "Contains the current offset.",
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "A list of consumer profiles.",
                          "items": {
                            "type": "object",
                            "required": [
                              "email"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identifier of the profile."
                              },
                              "email": {
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "format": "email"
                                  },
                                  {
                                    "type": "string",
                                    "maxLength": 0,
                                    "description": "Empty string in order to maintain current contract and allow empty value."
                                  }
                                ],
                                "description": "Main e-mail of the consumer."
                              },
                              "first_name": {
                                "type": "string",
                                "description": "First name of the consumer."
                              },
                              "last_name": {
                                "type": "string",
                                "description": "Last name of the consumer."
                              },
                              "phone_number": {
                                "type": "string",
                                "description": "Phone number of the consumer."
                              },
                              "country_code": {
                                "type": "string",
                                "description": "Phone number country code of the consumer."
                              },
                              "addresses": {
                                "type": "array",
                                "description": "List of all billing and shipping addresses.",
                                "items": {
                                  "type": "object",
                                  "allOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "billing",
                                            "shipping"
                                          ],
                                          "description": "Describes which type the address is referring to. e.g. billing or shipping address."
                                        },
                                        "company": {
                                          "type": "string",
                                          "description": "Company name."
                                        },
                                        "first_name": {
                                          "type": "string",
                                          "description": "First name."
                                        },
                                        "last_name": {
                                          "type": "string",
                                          "description": "Last name."
                                        },
                                        "address_1": {
                                          "type": "string",
                                          "description": "First line of the address. Typically, the street and house number."
                                        },
                                        "address_2": {
                                          "type": "string",
                                          "description": "Second line of the address. Typically, the apartment number or PO box"
                                        },
                                        "zip_code": {
                                          "type": "string",
                                          "description": "Postal code of the address."
                                        },
                                        "city": {
                                          "type": "string",
                                          "description": "The city/town of the address."
                                        },
                                        "state": {
                                          "type": "string",
                                          "description": "State/province or region of the address."
                                        },
                                        "country_code": {
                                          "type": "string",
                                          "description": "Country code in ISO 3166-1 alpha-2 format.",
                                          "enum": [
                                            "AD",
                                            "AE",
                                            "AF",
                                            "AG",
                                            "AI",
                                            "AL",
                                            "AM",
                                            "AO",
                                            "AQ",
                                            "AR",
                                            "AS",
                                            "AT",
                                            "AU",
                                            "AW",
                                            "AX",
                                            "AZ",
                                            "BA",
                                            "BB",
                                            "BD",
                                            "BE",
                                            "BF",
                                            "BG",
                                            "BH",
                                            "BI",
                                            "BJ",
                                            "BL",
                                            "BM",
                                            "BN",
                                            "BO",
                                            "BQ",
                                            "BR",
                                            "BS",
                                            "BT",
                                            "BV",
                                            "BW",
                                            "BY",
                                            "BZ",
                                            "CA",
                                            "CC",
                                            "CD",
                                            "CF",
                                            "CG",
                                            "CH",
                                            "CI",
                                            "CK",
                                            "CL",
                                            "CM",
                                            "CN",
                                            "CO",
                                            "CR",
                                            "CU",
                                            "CV",
                                            "CW",
                                            "CX",
                                            "CY",
                                            "CZ",
                                            "DE",
                                            "DJ",
                                            "DK",
                                            "DM",
                                            "DO",
                                            "DZ",
                                            "EC",
                                            "EE",
                                            "EG",
                                            "EH",
                                            "ER",
                                            "ES",
                                            "ET",
                                            "FI",
                                            "FJ",
                                            "FK",
                                            "FM",
                                            "FO",
                                            "FR",
                                            "GA",
                                            "GB",
                                            "GD",
                                            "GE",
                                            "GF",
                                            "GG",
                                            "GH",
                                            "GI",
                                            "GL",
                                            "GM",
                                            "GN",
                                            "GP",
                                            "GQ",
                                            "GR",
                                            "GS",
                                            "GT",
                                            "GU",
                                            "GW",
                                            "GY",
                                            "HK",
                                            "HM",
                                            "HN",
                                            "HR",
                                            "HT",
                                            "HU",
                                            "ID",
                                            "IE",
                                            "IL",
                                            "IM",
                                            "IN",
                                            "IO",
                                            "IQ",
                                            "IR",
                                            "IS",
                                            "IT",
                                            "JE",
                                            "JM",
                                            "JO",
                                            "JP",
                                            "KE",
                                            "KG",
                                            "KH",
                                            "KI",
                                            "KM",
                                            "KN",
                                            "KP",
                                            "KR",
                                            "KW",
                                            "KY",
                                            "KZ",
                                            "LA",
                                            "LB",
                                            "LC",
                                            "LI",
                                            "LK",
                                            "LR",
                                            "LS",
                                            "LT",
                                            "LU",
                                            "LV",
                                            "LY",
                                            "MA",
                                            "MC",
                                            "MD",
                                            "ME",
                                            "MF",
                                            "MG",
                                            "MH",
                                            "MK",
                                            "ML",
                                            "MM",
                                            "MN",
                                            "MO",
                                            "MP",
                                            "MQ",
                                            "MR",
                                            "MS",
                                            "MT",
                                            "MU",
                                            "MV",
                                            "MW",
                                            "MX",
                                            "MY",
                                            "MZ",
                                            "NA",
                                            "NC",
                                            "NE",
                                            "NF",
                                            "NG",
                                            "NI",
                                            "NL",
                                            "NO",
                                            "NP",
                                            "NR",
                                            "NU",
                                            "NZ",
                                            "OM",
                                            "PA",
                                            "PE",
                                            "PF",
                                            "PG",
                                            "PH",
                                            "PK",
                                            "PL",
                                            "PM",
                                            "PN",
                                            "PR",
                                            "PS",
                                            "PT",
                                            "PW",
                                            "PY",
                                            "QA",
                                            "RE",
                                            "RO",
                                            "RS",
                                            "RU",
                                            "RW",
                                            "SA",
                                            "SB",
                                            "SC",
                                            "SD",
                                            "SE",
                                            "SG",
                                            "SH",
                                            "SI",
                                            "SJ",
                                            "SK",
                                            "SL",
                                            "SM",
                                            "SN",
                                            "SO",
                                            "SR",
                                            "SS",
                                            "ST",
                                            "SV",
                                            "SX",
                                            "SY",
                                            "SZ",
                                            "TC",
                                            "TD",
                                            "TF",
                                            "TG",
                                            "TH",
                                            "TJ",
                                            "TK",
                                            "TL",
                                            "TM",
                                            "TN",
                                            "TO",
                                            "TR",
                                            "TT",
                                            "TV",
                                            "TW",
                                            "TZ",
                                            "UA",
                                            "UG",
                                            "UM",
                                            "US",
                                            "UY",
                                            "UZ",
                                            "VA",
                                            "VC",
                                            "VE",
                                            "VG",
                                            "VI",
                                            "VN",
                                            "VU",
                                            "WF",
                                            "WS",
                                            "YE",
                                            "YT",
                                            "ZA",
                                            "ZM",
                                            "ZW"
                                          ]
                                        },
                                        "contact_phone": {
                                          "type": "string",
                                          "description": "Contact phone number chosen by the consumer."
                                        }
                                      }
                                    },
                                    {
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "Identifier of the address."
                                        },
                                        "created_at": {
                                          "type": "string",
                                          "format": "date-time",
                                          "description": "Timestamp of the address creation."
                                        },
                                        "updated_at": {
                                          "type": "string",
                                          "nullable": true,
                                          "format": "date-time",
                                          "description": "Timestamp of the addresse's last update."
                                        },
                                        "revision": {
                                          "type": "integer"
                                        }
                                      }
                                    }
                                  ]
                                }
                              },
                              "extended_attributes": {
                                "type": "array",
                                "description": "List of all extended attributes for this profile.",
                                "maxItems": 20,
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "name",
                                    "value"
                                  ],
                                  "maxProperties": 2,
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "Name of this extended attribute.",
                                      "minLength": 1
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "Value of this extended attribute.",
                                      "maxLength": 8192
                                    }
                                  }
                                }
                              },
                              "created_by": {
                                "type": "string",
                                "description": "Identifier of the associate who created the profile."
                              },
                              "created_by_name": {
                                "type": "string",
                                "description": "Name of the associate who created the profile."
                              },
                              "store_id": {
                                "type": "string",
                                "description": "Identifier of the store where the profile was created."
                              },
                              "store_name": {
                                "type": "string",
                                "description": "Division name of the store where the profile was created."
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp of the profile creation."
                              },
                              "updated_at": {
                                "type": "string",
                                "nullable": true,
                                "format": "date-time",
                                "description": "Timestamp of the profile's last update."
                              },
                              "revision": {
                                "type": "integer",
                                "description": "Revision of the profile.",
                                "minimum": 0,
                                "multipleOf": 1
                              },
                              "display_id": {
                                "type": "string",
                                "description": "A retailer-specific ID for each customer profile only displayed in NewStore Omnichannel Manager."
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "field_ranges": {
                          "type": "object",
                          "description": "Contains fields with filter values.",
                          "properties": {
                            "created_at": {
                              "type": "object",
                              "properties": {
                                "max": {
                                  "description": "Highest created_at epoch.",
                                  "type": "integer"
                                },
                                "min": {
                                  "description": "Lowest created_at epoch.",
                                  "type": "integer"
                                },
                                "type": {
                                  "description": "Filter range type.",
                                  "default": "range",
                                  "type": "string"
                                }
                              }
                            },
                            "created_by_name": {
                              "type": "object",
                              "properties": {
                                "values": {
                                  "description": "Array of filter values.",
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "type": {
                                  "description": "Filter enum type.",
                                  "default": "enum",
                                  "type": "string"
                                }
                              }
                            },
                            "store_name": {
                              "type": "object",
                              "properties": {
                                "values": {
                                  "description": "Array of filter values.",
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "type": {
                                  "description": "Filter enum type.",
                                  "default": "enum",
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "description": "Returns a filtered list of customers.\n\n**Note:** The pagination is limited to 500 items.\n\n**Related methods:**\n- [Get customer](#operation/Get%20customer)\n- [Update customer](#operation/Update%20customer)\n",
        "operationId": "List full customers",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The search term to filter customers. The term is compared to the values in the `email`, `first_name`,\n`last_name`, and `phone_number` fields. A partial match is also considered a match.\n\n**Note:** A partial match is considered a match only on first_name and last_name.\nHowever, on the email, a full match may still return multiple results. For example,\n`jan.doer@example.com` will return `bojan.doer@example.com` and `jan.doer@example.com.uk` as well.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts the returned values. Takes two values separated by the pipe character (`|`), the field to sort and the sort order.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[created_by]",
            "in": "query",
            "description": "ID of the associate who created the consumer profile.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[extended_attributes.name]",
            "in": "query",
            "description": "Name of a specific extended attribute.\nShould be used in combination with the `extended_attributes.value` filter.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[extended_attributes.value]",
            "in": "query",
            "description": "Value of a specific extended attribute.\nShould be used in combination with the `extended_attributes.name` filter.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The page offset.",
            "schema": {
              "default": 0,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of requested documents.",
            "schema": {
              "default": 10,
              "minimum": 1,
              "maximum": 500,
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "The customer was successfully created.",
            "content": {
              "application/json": {
                "example": {
                  "addresses": [],
                  "country_code": "US",
                  "created_at": "2022-05-20T08:48:28.640Z",
                  "created_by": "7eaa5282f74749d0b2658154dcce2e20",
                  "created_by_name": "Clienteling, Tim",
                  "display_id": "JO2MDZ",
                  "email": "jaydoubleyou@example.com",
                  "extended_attributes": [
                    {
                      "name": "shirt_fit",
                      "value": "slim"
                    }
                  ],
                  "first_name": "Jay",
                  "id": "4e3e504f-a3e9-4f41-a493-1c8124c12253",
                  "last_name": "DoubleYou",
                  "phone_number": "(202) 555-0182",
                  "revision": "1,",
                  "store_id": "7c9f2605-9fb3-5444-8fee-47fe51608efe",
                  "store_name": "New York 5th Avenue"
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "email"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identifier of the profile."
                    },
                    "email": {
                      "oneOf": [
                        {
                          "type": "string",
                          "format": "email"
                        },
                        {
                          "type": "string",
                          "maxLength": 0,
                          "description": "Empty string in order to maintain current contract and allow empty value."
                        }
                      ],
                      "description": "Main e-mail of the consumer."
                    },
                    "first_name": {
                      "type": "string",
                      "description": "First name of the consumer."
                    },
                    "last_name": {
                      "type": "string",
                      "description": "Last name of the consumer."
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "Phone number of the consumer."
                    },
                    "country_code": {
                      "type": "string",
                      "description": "Phone number country code of the consumer."
                    },
                    "addresses": {
                      "type": "array",
                      "description": "List of all billing and shipping addresses.",
                      "items": {
                        "type": "object",
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "billing",
                                  "shipping"
                                ],
                                "description": "Describes which type the address is referring to. e.g. billing or shipping address."
                              },
                              "company": {
                                "type": "string",
                                "description": "Company name."
                              },
                              "first_name": {
                                "type": "string",
                                "description": "First name."
                              },
                              "last_name": {
                                "type": "string",
                                "description": "Last name."
                              },
                              "address_1": {
                                "type": "string",
                                "description": "First line of the address. Typically, the street and house number."
                              },
                              "address_2": {
                                "type": "string",
                                "description": "Second line of the address. Typically, the apartment number or PO box"
                              },
                              "zip_code": {
                                "type": "string",
                                "description": "Postal code of the address."
                              },
                              "city": {
                                "type": "string",
                                "description": "The city/town of the address."
                              },
                              "state": {
                                "type": "string",
                                "description": "State/province or region of the address."
                              },
                              "country_code": {
                                "type": "string",
                                "description": "Country code in ISO 3166-1 alpha-2 format.",
                                "enum": [
                                  "AD",
                                  "AE",
                                  "AF",
                                  "AG",
                                  "AI",
                                  "AL",
                                  "AM",
                                  "AO",
                                  "AQ",
                                  "AR",
                                  "AS",
                                  "AT",
                                  "AU",
                                  "AW",
                                  "AX",
                                  "AZ",
                                  "BA",
                                  "BB",
                                  "BD",
                                  "BE",
                                  "BF",
                                  "BG",
                                  "BH",
                                  "BI",
                                  "BJ",
                                  "BL",
                                  "BM",
                                  "BN",
                                  "BO",
                                  "BQ",
                                  "BR",
                                  "BS",
                                  "BT",
                                  "BV",
                                  "BW",
                                  "BY",
                                  "BZ",
                                  "CA",
                                  "CC",
                                  "CD",
                                  "CF",
                                  "CG",
                                  "CH",
                                  "CI",
                                  "CK",
                                  "CL",
                                  "CM",
                                  "CN",
                                  "CO",
                                  "CR",
                                  "CU",
                                  "CV",
                                  "CW",
                                  "CX",
                                  "CY",
                                  "CZ",
                                  "DE",
                                  "DJ",
                                  "DK",
                                  "DM",
                                  "DO",
                                  "DZ",
                                  "EC",
                                  "EE",
                                  "EG",
                                  "EH",
                                  "ER",
                                  "ES",
                                  "ET",
                                  "FI",
                                  "FJ",
                                  "FK",
                                  "FM",
                                  "FO",
                                  "FR",
                                  "GA",
                                  "GB",
                                  "GD",
                                  "GE",
                                  "GF",
                                  "GG",
                                  "GH",
                                  "GI",
                                  "GL",
                                  "GM",
                                  "GN",
                                  "GP",
                                  "GQ",
                                  "GR",
                                  "GS",
                                  "GT",
                                  "GU",
                                  "GW",
                                  "GY",
                                  "HK",
                                  "HM",
                                  "HN",
                                  "HR",
                                  "HT",
                                  "HU",
                                  "ID",
                                  "IE",
                                  "IL",
                                  "IM",
                                  "IN",
                                  "IO",
                                  "IQ",
                                  "IR",
                                  "IS",
                                  "IT",
                                  "JE",
                                  "JM",
                                  "JO",
                                  "JP",
                                  "KE",
                                  "KG",
                                  "KH",
                                  "KI",
                                  "KM",
                                  "KN",
                                  "KP",
                                  "KR",
                                  "KW",
                                  "KY",
                                  "KZ",
                                  "LA",
                                  "LB",
                                  "LC",
                                  "LI",
                                  "LK",
                                  "LR",
                                  "LS",
                                  "LT",
                                  "LU",
                                  "LV",
                                  "LY",
                                  "MA",
                                  "MC",
                                  "MD",
                                  "ME",
                                  "MF",
                                  "MG",
                                  "MH",
                                  "MK",
                                  "ML",
                                  "MM",
                                  "MN",
                                  "MO",
                                  "MP",
                                  "MQ",
                                  "MR",
                                  "MS",
                                  "MT",
                                  "MU",
                                  "MV",
                                  "MW",
                                  "MX",
                                  "MY",
                                  "MZ",
                                  "NA",
                                  "NC",
                                  "NE",
                                  "NF",
                                  "NG",
                                  "NI",
                                  "NL",
                                  "NO",
                                  "NP",
                                  "NR",
                                  "NU",
                                  "NZ",
                                  "OM",
                                  "PA",
                                  "PE",
                                  "PF",
                                  "PG",
                                  "PH",
                                  "PK",
                                  "PL",
                                  "PM",
                                  "PN",
                                  "PR",
                                  "PS",
                                  "PT",
                                  "PW",
                                  "PY",
                                  "QA",
                                  "RE",
                                  "RO",
                                  "RS",
                                  "RU",
                                  "RW",
                                  "SA",
                                  "SB",
                                  "SC",
                                  "SD",
                                  "SE",
                                  "SG",
                                  "SH",
                                  "SI",
                                  "SJ",
                                  "SK",
                                  "SL",
                                  "SM",
                                  "SN",
                                  "SO",
                                  "SR",
                                  "SS",
                                  "ST",
                                  "SV",
                                  "SX",
                                  "SY",
                                  "SZ",
                                  "TC",
                                  "TD",
                                  "TF",
                                  "TG",
                                  "TH",
                                  "TJ",
                                  "TK",
                                  "TL",
                                  "TM",
                                  "TN",
                                  "TO",
                                  "TR",
                                  "TT",
                                  "TV",
                                  "TW",
                                  "TZ",
                                  "UA",
                                  "UG",
                                  "UM",
                                  "US",
                                  "UY",
                                  "UZ",
                                  "VA",
                                  "VC",
                                  "VE",
                                  "VG",
                                  "VI",
                                  "VN",
                                  "VU",
                                  "WF",
                                  "WS",
                                  "YE",
                                  "YT",
                                  "ZA",
                                  "ZM",
                                  "ZW"
                                ]
                              },
                              "contact_phone": {
                                "type": "string",
                                "description": "Contact phone number chosen by the consumer."
                              }
                            }
                          },
                          {
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identifier of the address."
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp of the address creation."
                              },
                              "updated_at": {
                                "type": "string",
                                "nullable": true,
                                "format": "date-time",
                                "description": "Timestamp of the addresse's last update."
                              },
                              "revision": {
                                "type": "integer"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "extended_attributes": {
                      "type": "array",
                      "description": "List of all extended attributes for this profile.",
                      "maxItems": 20,
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "value"
                        ],
                        "maxProperties": 2,
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of this extended attribute.",
                            "minLength": 1
                          },
                          "value": {
                            "type": "string",
                            "description": "Value of this extended attribute.",
                            "maxLength": 8192
                          }
                        }
                      }
                    },
                    "created_by": {
                      "type": "string",
                      "description": "Identifier of the associate who created the profile."
                    },
                    "created_by_name": {
                      "type": "string",
                      "description": "Name of the associate who created the profile."
                    },
                    "store_id": {
                      "type": "string",
                      "description": "Identifier of the store where the profile was created."
                    },
                    "store_name": {
                      "type": "string",
                      "description": "Division name of the store where the profile was created."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the profile creation."
                    },
                    "updated_at": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time",
                      "description": "Timestamp of the profile's last update."
                    },
                    "revision": {
                      "type": "integer",
                      "description": "Revision of the profile.",
                      "minimum": 0,
                      "multipleOf": 1
                    },
                    "display_id": {
                      "type": "string",
                      "description": "A retailer-specific ID for each customer profile only displayed in NewStore Omnichannel Manager."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "A customer profile with the same email ID already exists in the platform.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error_code",
                    "messages"
                  ],
                  "properties": {
                    "error_code": {
                      "type": "string",
                      "description": "The error code.",
                      "example": "profile_info_duplicated"
                    },
                    "messages": {
                      "type": "array",
                      "description": "A list of error messages.",
                      "example": [
                        "consumer profile with the same identity already exists."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "description": "Creates a customer based on a given unique email addresss.\n\n**Note:** Typically, customers are created automatically when they place an order online or when they provide their email address, during an in-store purchase.\n\n**Related methods:**\n- [Request customer deletion](#operation/Request%20customer%20deletion)\n- [Get customer](#operation/Get%20customer)\n",
        "operationId": "Create customer",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "jaydoubleyou@example.com",
                "first_name": "Jay",
                "last_name": "DoubleYou",
                "phone_number": "202-555-0182",
                "extended_attributes": [
                  {
                    "name": "shirt_fit",
                    "value": "slim"
                  }
                ]
              },
              "schema": {
                "description": "Creates a new consumer profile.",
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "string",
                        "maxLength": 0,
                        "description": "Empty string in order to maintain current contract and allow empty value."
                      }
                    ],
                    "description": "Main e-mail of the consumer."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name of the consumer."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the consumer."
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Phone number of the consumer."
                  },
                  "country_code": {
                    "type": "string",
                    "description": "Phone number country code of the consumer."
                  },
                  "billing_address": {
                    "type": "object",
                    "description": "Details of chosen billing address.",
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "billing",
                              "shipping"
                            ],
                            "description": "Describes which type the address is referring to. e.g. billing or shipping address."
                          },
                          "company": {
                            "type": "string",
                            "description": "Company name."
                          },
                          "first_name": {
                            "type": "string",
                            "description": "First name."
                          },
                          "last_name": {
                            "type": "string",
                            "description": "Last name."
                          },
                          "address_1": {
                            "type": "string",
                            "description": "First line of the address. Typically, the street and house number."
                          },
                          "address_2": {
                            "type": "string",
                            "description": "Second line of the address. Typically, the apartment number or PO box"
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "Postal code of the address."
                          },
                          "city": {
                            "type": "string",
                            "description": "The city/town of the address."
                          },
                          "state": {
                            "type": "string",
                            "description": "State/province or region of the address."
                          },
                          "country_code": {
                            "type": "string",
                            "description": "Country code in ISO 3166-1 alpha-2 format.",
                            "enum": [
                              "AD",
                              "AE",
                              "AF",
                              "AG",
                              "AI",
                              "AL",
                              "AM",
                              "AO",
                              "AQ",
                              "AR",
                              "AS",
                              "AT",
                              "AU",
                              "AW",
                              "AX",
                              "AZ",
                              "BA",
                              "BB",
                              "BD",
                              "BE",
                              "BF",
                              "BG",
                              "BH",
                              "BI",
                              "BJ",
                              "BL",
                              "BM",
                              "BN",
                              "BO",
                              "BQ",
                              "BR",
                              "BS",
                              "BT",
                              "BV",
                              "BW",
                              "BY",
                              "BZ",
                              "CA",
                              "CC",
                              "CD",
                              "CF",
                              "CG",
                              "CH",
                              "CI",
                              "CK",
                              "CL",
                              "CM",
                              "CN",
                              "CO",
                              "CR",
                              "CU",
                              "CV",
                              "CW",
                              "CX",
                              "CY",
                              "CZ",
                              "DE",
                              "DJ",
                              "DK",
                              "DM",
                              "DO",
                              "DZ",
                              "EC",
                              "EE",
                              "EG",
                              "EH",
                              "ER",
                              "ES",
                              "ET",
                              "FI",
                              "FJ",
                              "FK",
                              "FM",
                              "FO",
                              "FR",
                              "GA",
                              "GB",
                              "GD",
                              "GE",
                              "GF",
                              "GG",
                              "GH",
                              "GI",
                              "GL",
                              "GM",
                              "GN",
                              "GP",
                              "GQ",
                              "GR",
                              "GS",
                              "GT",
                              "GU",
                              "GW",
                              "GY",
                              "HK",
                              "HM",
                              "HN",
                              "HR",
                              "HT",
                              "HU",
                              "ID",
                              "IE",
                              "IL",
                              "IM",
                              "IN",
                              "IO",
                              "IQ",
                              "IR",
                              "IS",
                              "IT",
                              "JE",
                              "JM",
                              "JO",
                              "JP",
                              "KE",
                              "KG",
                              "KH",
                              "KI",
                              "KM",
                              "KN",
                              "KP",
                              "KR",
                              "KW",
                              "KY",
                              "KZ",
                              "LA",
                              "LB",
                              "LC",
                              "LI",
                              "LK",
                              "LR",
                              "LS",
                              "LT",
                              "LU",
                              "LV",
                              "LY",
                              "MA",
                              "MC",
                              "MD",
                              "ME",
                              "MF",
                              "MG",
                              "MH",
                              "MK",
                              "ML",
                              "MM",
                              "MN",
                              "MO",
                              "MP",
                              "MQ",
                              "MR",
                              "MS",
                              "MT",
                              "MU",
                              "MV",
                              "MW",
                              "MX",
                              "MY",
                              "MZ",
                              "NA",
                              "NC",
                              "NE",
                              "NF",
                              "NG",
                              "NI",
                              "NL",
                              "NO",
                              "NP",
                              "NR",
                              "NU",
                              "NZ",
                              "OM",
                              "PA",
                              "PE",
                              "PF",
                              "PG",
                              "PH",
                              "PK",
                              "PL",
                              "PM",
                              "PN",
                              "PR",
                              "PS",
                              "PT",
                              "PW",
                              "PY",
                              "QA",
                              "RE",
                              "RO",
                              "RS",
                              "RU",
                              "RW",
                              "SA",
                              "SB",
                              "SC",
                              "SD",
                              "SE",
                              "SG",
                              "SH",
                              "SI",
                              "SJ",
                              "SK",
                              "SL",
                              "SM",
                              "SN",
                              "SO",
                              "SR",
                              "SS",
                              "ST",
                              "SV",
                              "SX",
                              "SY",
                              "SZ",
                              "TC",
                              "TD",
                              "TF",
                              "TG",
                              "TH",
                              "TJ",
                              "TK",
                              "TL",
                              "TM",
                              "TN",
                              "TO",
                              "TR",
                              "TT",
                              "TV",
                              "TW",
                              "TZ",
                              "UA",
                              "UG",
                              "UM",
                              "US",
                              "UY",
                              "UZ",
                              "VA",
                              "VC",
                              "VE",
                              "VG",
                              "VI",
                              "VN",
                              "VU",
                              "WF",
                              "WS",
                              "YE",
                              "YT",
                              "ZA",
                              "ZM",
                              "ZW"
                            ]
                          },
                          "contact_phone": {
                            "type": "string",
                            "description": "Contact phone number chosen by the consumer."
                          }
                        }
                      },
                      {
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identifier of the address."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the address creation."
                          },
                          "updated_at": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time",
                            "description": "Timestamp of the addresse's last update."
                          },
                          "revision": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  "shipping_address": {
                    "type": "object",
                    "description": "Details of chosen shipping address.",
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "billing",
                              "shipping"
                            ],
                            "description": "Describes which type the address is referring to. e.g. billing or shipping address."
                          },
                          "company": {
                            "type": "string",
                            "description": "Company name."
                          },
                          "first_name": {
                            "type": "string",
                            "description": "First name."
                          },
                          "last_name": {
                            "type": "string",
                            "description": "Last name."
                          },
                          "address_1": {
                            "type": "string",
                            "description": "First line of the address. Typically, the street and house number."
                          },
                          "address_2": {
                            "type": "string",
                            "description": "Second line of the address. Typically, the apartment number or PO box"
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "Postal code of the address."
                          },
                          "city": {
                            "type": "string",
                            "description": "The city/town of the address."
                          },
                          "state": {
                            "type": "string",
                            "description": "State/province or region of the address."
                          },
                          "country_code": {
                            "type": "string",
                            "description": "Country code in ISO 3166-1 alpha-2 format.",
                            "enum": [
                              "AD",
                              "AE",
                              "AF",
                              "AG",
                              "AI",
                              "AL",
                              "AM",
                              "AO",
                              "AQ",
                              "AR",
                              "AS",
                              "AT",
                              "AU",
                              "AW",
                              "AX",
                              "AZ",
                              "BA",
                              "BB",
                              "BD",
                              "BE",
                              "BF",
                              "BG",
                              "BH",
                              "BI",
                              "BJ",
                              "BL",
                              "BM",
                              "BN",
                              "BO",
                              "BQ",
                              "BR",
                              "BS",
                              "BT",
                              "BV",
                              "BW",
                              "BY",
                              "BZ",
                              "CA",
                              "CC",
                              "CD",
                              "CF",
                              "CG",
                              "CH",
                              "CI",
                              "CK",
                              "CL",
                              "CM",
                              "CN",
                              "CO",
                              "CR",
                              "CU",
                              "CV",
                              "CW",
                              "CX",
                              "CY",
                              "CZ",
                              "DE",
                              "DJ",
                              "DK",
                              "DM",
                              "DO",
                              "DZ",
                              "EC",
                              "EE",
                              "EG",
                              "EH",
                              "ER",
                              "ES",
                              "ET",
                              "FI",
                              "FJ",
                              "FK",
                              "FM",
                              "FO",
                              "FR",
                              "GA",
                              "GB",
                              "GD",
                              "GE",
                              "GF",
                              "GG",
                              "GH",
                              "GI",
                              "GL",
                              "GM",
                              "GN",
                              "GP",
                              "GQ",
                              "GR",
                              "GS",
                              "GT",
                              "GU",
                              "GW",
                              "GY",
                              "HK",
                              "HM",
                              "HN",
                              "HR",
                              "HT",
                              "HU",
                              "ID",
                              "IE",
                              "IL",
                              "IM",
                              "IN",
                              "IO",
                              "IQ",
                              "IR",
                              "IS",
                              "IT",
                              "JE",
                              "JM",
                              "JO",
                              "JP",
                              "KE",
                              "KG",
                              "KH",
                              "KI",
                              "KM",
                              "KN",
                              "KP",
                              "KR",
                              "KW",
                              "KY",
                              "KZ",
                              "LA",
                              "LB",
                              "LC",
                              "LI",
                              "LK",
                              "LR",
                              "LS",
                              "LT",
                              "LU",
                              "LV",
                              "LY",
                              "MA",
                              "MC",
                              "MD",
                              "ME",
                              "MF",
                              "MG",
                              "MH",
                              "MK",
                              "ML",
                              "MM",
                              "MN",
                              "MO",
                              "MP",
                              "MQ",
                              "MR",
                              "MS",
                              "MT",
                              "MU",
                              "MV",
                              "MW",
                              "MX",
                              "MY",
                              "MZ",
                              "NA",
                              "NC",
                              "NE",
                              "NF",
                              "NG",
                              "NI",
                              "NL",
                              "NO",
                              "NP",
                              "NR",
                              "NU",
                              "NZ",
                              "OM",
                              "PA",
                              "PE",
                              "PF",
                              "PG",
                              "PH",
                              "PK",
                              "PL",
                              "PM",
                              "PN",
                              "PR",
                              "PS",
                              "PT",
                              "PW",
                              "PY",
                              "QA",
                              "RE",
                              "RO",
                              "RS",
                              "RU",
                              "RW",
                              "SA",
                              "SB",
                              "SC",
                              "SD",
                              "SE",
                              "SG",
                              "SH",
                              "SI",
                              "SJ",
                              "SK",
                              "SL",
                              "SM",
                              "SN",
                              "SO",
                              "SR",
                              "SS",
                              "ST",
                              "SV",
                              "SX",
                              "SY",
                              "SZ",
                              "TC",
                              "TD",
                              "TF",
                              "TG",
                              "TH",
                              "TJ",
                              "TK",
                              "TL",
                              "TM",
                              "TN",
                              "TO",
                              "TR",
                              "TT",
                              "TV",
                              "TW",
                              "TZ",
                              "UA",
                              "UG",
                              "UM",
                              "US",
                              "UY",
                              "UZ",
                              "VA",
                              "VC",
                              "VE",
                              "VG",
                              "VI",
                              "VN",
                              "VU",
                              "WF",
                              "WS",
                              "YE",
                              "YT",
                              "ZA",
                              "ZM",
                              "ZW"
                            ]
                          },
                          "contact_phone": {
                            "type": "string",
                            "description": "Contact phone number chosen by the consumer."
                          }
                        }
                      },
                      {
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identifier of the address."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the address creation."
                          },
                          "updated_at": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time",
                            "description": "Timestamp of the addresse's last update."
                          },
                          "revision": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  "extended_attributes": {
                    "type": "array",
                    "description": "List of all extended attributes for this profile.",
                    "maxItems": 20,
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "value"
                      ],
                      "maxProperties": 2,
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of this extended attribute.",
                          "minLength": 1
                        },
                        "value": {
                          "type": "string",
                          "description": "Value of this extended attribute.",
                          "maxLength": 8192
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/consumer_profiles/list": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of matching customers is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Provides a list of customer profiles.",
                  "example": {
                    "items": [
                      {
                        "email": "john@example.com",
                        "id": "6932760230624376023466",
                        "first_name": "John",
                        "last_name": "Smith",
                        "phone_number": "+555555555555",
                        "country_code": "US",
                        "created_by_name": "Someone",
                        "store_name": "NYC_1_5thave",
                        "created_at": "2020-01-24T10:39:22.656Z",
                        "display_id": "GSDFEA"
                      }
                    ],
                    "pagination_info": {
                      "count": 1,
                      "total": 20,
                      "offset": 1
                    }
                  },
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "pagination_info": {
                          "type": "object",
                          "description": "Contains default fields for paginatable APIs.",
                          "required": [
                            "count",
                            "total",
                            "offset"
                          ],
                          "properties": {
                            "count": {
                              "description": "Contains the count of the contained array.",
                              "type": "integer"
                            },
                            "total": {
                              "description": "Contains the total count of documents. Will be null if the API is not able to determin a total count.",
                              "type": "integer",
                              "nullable": true
                            },
                            "offset": {
                              "description": "Contains the current offset.",
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "A list of consumer profiles.",
                          "items": {
                            "type": "object",
                            "required": [
                              "email"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identifier of the profile."
                              },
                              "email": {
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "format": "email"
                                  },
                                  {
                                    "type": "string",
                                    "maxLength": 0,
                                    "description": "Empty string in order to maintain current contract and allow empty value."
                                  }
                                ],
                                "description": "Main e-mail of the consumer."
                              },
                              "first_name": {
                                "type": "string",
                                "description": "First name of the consumer."
                              },
                              "last_name": {
                                "type": "string",
                                "description": "Last name of the consumer."
                              },
                              "phone_number": {
                                "type": "string",
                                "description": "Phone number of the consumer."
                              },
                              "country_code": {
                                "type": "string",
                                "description": "Phone number country code of the consumer."
                              },
                              "addresses": {
                                "type": "array",
                                "description": "List of all billing and shipping addresses.",
                                "items": {
                                  "type": "object",
                                  "allOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "billing",
                                            "shipping"
                                          ],
                                          "description": "Describes which type the address is referring to. e.g. billing or shipping address."
                                        },
                                        "company": {
                                          "type": "string",
                                          "description": "Company name."
                                        },
                                        "first_name": {
                                          "type": "string",
                                          "description": "First name."
                                        },
                                        "last_name": {
                                          "type": "string",
                                          "description": "Last name."
                                        },
                                        "address_1": {
                                          "type": "string",
                                          "description": "First line of the address. Typically, the street and house number."
                                        },
                                        "address_2": {
                                          "type": "string",
                                          "description": "Second line of the address. Typically, the apartment number or PO box"
                                        },
                                        "zip_code": {
                                          "type": "string",
                                          "description": "Postal code of the address."
                                        },
                                        "city": {
                                          "type": "string",
                                          "description": "The city/town of the address."
                                        },
                                        "state": {
                                          "type": "string",
                                          "description": "State/province or region of the address."
                                        },
                                        "country_code": {
                                          "type": "string",
                                          "description": "Country code in ISO 3166-1 alpha-2 format.",
                                          "enum": [
                                            "AD",
                                            "AE",
                                            "AF",
                                            "AG",
                                            "AI",
                                            "AL",
                                            "AM",
                                            "AO",
                                            "AQ",
                                            "AR",
                                            "AS",
                                            "AT",
                                            "AU",
                                            "AW",
                                            "AX",
                                            "AZ",
                                            "BA",
                                            "BB",
                                            "BD",
                                            "BE",
                                            "BF",
                                            "BG",
                                            "BH",
                                            "BI",
                                            "BJ",
                                            "BL",
                                            "BM",
                                            "BN",
                                            "BO",
                                            "BQ",
                                            "BR",
                                            "BS",
                                            "BT",
                                            "BV",
                                            "BW",
                                            "BY",
                                            "BZ",
                                            "CA",
                                            "CC",
                                            "CD",
                                            "CF",
                                            "CG",
                                            "CH",
                                            "CI",
                                            "CK",
                                            "CL",
                                            "CM",
                                            "CN",
                                            "CO",
                                            "CR",
                                            "CU",
                                            "CV",
                                            "CW",
                                            "CX",
                                            "CY",
                                            "CZ",
                                            "DE",
                                            "DJ",
                                            "DK",
                                            "DM",
                                            "DO",
                                            "DZ",
                                            "EC",
                                            "EE",
                                            "EG",
                                            "EH",
                                            "ER",
                                            "ES",
                                            "ET",
                                            "FI",
                                            "FJ",
                                            "FK",
                                            "FM",
                                            "FO",
                                            "FR",
                                            "GA",
                                            "GB",
                                            "GD",
                                            "GE",
                                            "GF",
                                            "GG",
                                            "GH",
                                            "GI",
                                            "GL",
                                            "GM",
                                            "GN",
                                            "GP",
                                            "GQ",
                                            "GR",
                                            "GS",
                                            "GT",
                                            "GU",
                                            "GW",
                                            "GY",
                                            "HK",
                                            "HM",
                                            "HN",
                                            "HR",
                                            "HT",
                                            "HU",
                                            "ID",
                                            "IE",
                                            "IL",
                                            "IM",
                                            "IN",
                                            "IO",
                                            "IQ",
                                            "IR",
                                            "IS",
                                            "IT",
                                            "JE",
                                            "JM",
[...]
