openapi: 3.0.0
info:
  title: Availabilities Export API
  version: v0
  description: |
    Represents the available to promise (ATP) quantity for products.

    ATP is calculated by subtracting the sum of all allocations, reservations, and safety
    stock quantity, from the stock on hand. At NewStore, ATP is also the sum of the
    current ATP and future ATP.

    Use this resource to perform a global ATP export for all fulfillment locations, or export ATP for a channel
    (a group of fulfillment locations). The exported ATP for a channel is the combined ATP of all fulfillment
    locations in the channel.

    **Notes**:

    - Each ATP export includes the external identifiers for the referenced product ID.
    - If no value is provided for the `last_updated_at` property during the
      [export](#operation/get-atp-for-channel),
      the ATP is recalculated from the current ATP information and exported.
    - If the ATP for a product has not changed in any location after the `last_updated_at` value
      specified during the export, no results are returned.
    - For an [ATP export for a channel](#operation/start-channel-atp-export), if the
      ATP for a product has changed in a location after the `last_updated_at` value specified
      during the export, the updated ATP of the whole channel is exported, and not just the
      updated ATP of the location. See the following example.

    For example, if the ATP for a product is `3` in *Store A* and `4` in *Store B*, the combined ATP exported by
    the resource is `7`. If ATP for *Store A* changes to `0` and the ATP for *Store B* stays the same, the exported
    ATP is `4`, and not `0`.

    This resource contains the following sub-resources:

    - `bulk`: Represents an ATP export job for the channel.
    - `groups`: Represents a group of fulfillment locations for which you can start an export ATP job.

    For example, a group of fulfillment locations can represent a region or a channel in your business.
servers:
  - url: 'https://dodici.x.newstore.net/v0/d'
components:
  securitySchemes:
    newStoreAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - newStoreAccessToken: []
paths:
  /availabilities/bulk:
    post:
      responses:
        '201':
          description: |
            Success. The response contains the identifier of the created bulk export job.

            To retrieve the exported ATP, use the
            [Get ATP for channel](#operation/get-atp-for-channel) method.
          content:
            application/json:
              example:
                availability_export_id: 34vj3g4i325k23hkrnekrnkq
              schema:
                title: Post Availabilities Export
                description: POST schema for answer of starting availabilities export
                type: object
                properties:
                  availability_export_id:
                    type: string
                    description: ID of the created export job. Use this ID in GET request to get status of the export and export result
        '400':
          description: The body of request is invalid.
        '500':
          description: An error occurred on the server.
      description: |
        Starts an export of the ATP quantities in all fulfillment locations.

        To retrieve the exported ATP, use the
        [Get ATP for channel](#operation/get-atp-for-channel) method.
      summary: Start global ATP export
      operationId: start-global-atp-export
      requestBody:
        content:
          application/json:
            example:
              last_updated_at: 59837741
            schema:
              title: Post Availabilities Export
              description: POST schema for starting availabilities export
              type: object
              properties:
                last_updated_at:
                  type: integer
                  description: A full availability export is performed when this value is not provided. When this value is provided the export will not contain availabilities that were updated before the provided value. You can use the value of the 'last_updated_at' property of the response provided by the /availabilities/bulk GET method.
        required: true
  '/availabilities/bulk/{group_name_or_availability_export_id}':
    post:
      responses:
        '201':
          description: |
            Success. The response contains the `availability_export_id` for the created bulk export job.

            To retrieve the exported ATP, specify the `availability_export_id` in your request to
            [Get ATP by channel](#operation/get-atp-for-channel).
          content:
            application/json:
              example:
                availability_export_id: 34vj3g4i325k23hkrnekrnkq
              schema:
                title: Post Availabilities Export
                description: POST schema for answer of starting availabilities export
                type: object
                properties:
                  availability_export_id:
                    type: string
                    description: ID of the created export job. Use this ID in GET request to get status of the export and export result
        '400':
          description: The request body is invalid.
        '404':
          description: 'The requested group in {group_name} was not found.'
        '500':
          description: An error occurred on the server.
      description: |
        Starts an export job of the ATP, for a group of fulfillment locations.
        To retrieve the exported ATP, use the
        [Get ATP for channel](#operation/get-atp-for-channel) method.
      summary: Start ATP export for channel
      operationId: start-channel-atp-export
      requestBody:
        content:
          application/json:
            example:
              last_updated_at: 59837741
            schema:
              title: Post Availabilities Export
              description: POST schema for starting availabilities export
              type: object
              properties:
                last_updated_at:
                  type: integer
                  description: A full availability export is performed when this value is not provided. When this value is provided the export will not contain availabilities that were updated before the provided value. You can use the value of the 'last_updated_at' property of the response provided by the /availabilities/bulk GET method.
        required: true
      parameters:
        - name: group_name_or_availability_export_id
          in: path
          required: true
          schema:
            type: string
          description: |
            The identifier for the fulfillment location group for which you want to start an
            ATP export. See [Create a fulfillment location group](#operation/create-fulfillment-location-group).
    get:
      responses:
        '200':
          description: The response body contains details of the exported ATP.
          content:
            application/json:
              example:
                state: processing
                received_at: '1972-02-17T19:10:54.203Z'
                last_updated_at: 59837741
                link: 'https://www.example.com/availability_export-9ab5dd34-0d76-4b25-b13f-f246e5da1f75.zip'
              schema:
                title: Exported ATP response
                description: Schema for the response sent when ATP export data is requested.
                type: object
                required:
                  - state
                  - received_at
                properties:
                  state:
                    type: string
                    description: The state of the export job
                    enum:
                      - received
                      - processing
                      - failed
                      - finished
                  failure_reason:
                    type: string
                    description: The reason why an export job failed.
                    minLength: 1
                  received_at:
                    type: string
                    format: date-time
                    description: The UTC timestamp generated by the NewStore system that indicates when the corresponding export request was received.
                  completed_at:
                    type: string
                    format: date-time
                    description: The UTC timestamp that indicates when the corresponding export request was completed.
                  last_updated_at:
                    type: integer
                    description: 'A monotonically increasing integer that marks the highest update sequence number of all data present in the export. In cases when there are no ATP updates in the export, this value is set to zero. This value can be used in the ''last_updated_at'' property in a successive POST body to /availabilities/bulk endpoint to limit the export data to contain only availabilities that were updated after the provided value.'
                  link:
                    type: string
                    description: 'Secure link to the uploaded archive containing availability data. WARNING - Copying or pasting this link may damage it. The link to the archive expires after a week. The link points to a zip file containing a file named `availabilty.json`. The zip file has a naming pattern of ''availability_export-<export_id>'', where ''<export_id>'' refers to the unique ID corresponding to the ATP export request that produced the zip file.'
                    format: uri
        '404':
          description: |
            The provided `availability_export_id` does not exist.
      description: |
        Returns the result of the ATP export job for the provided `availability_export_id`.

        As part of the response payload, the `link` property contains a secure link that points to
        a zip file containing the availability data.
        The zip file contains a file named `availabilty.json`, which contains the availability data.

        **Important:** Copying or pasting the link may damage it. The link to the archive expires after a week.

        For a [global ATP export](#operation/start-global-atp-export), see the
        [schema](https://gitlab.com/newstore/docs/documentation/-/blob/2006427066024feeed11f0d9bc93ec7afc4a0be1/apps/documentation/static/non-grouped_atp_export_zipfile.json)
        for the payload of the `availabilty.json` file.

        For an [ATP export for a channel](#operation/start-channel-atp-export), the
        [schema](https://gitlab.com/newstore/docs/documentation/-/blob/2006427066024feeed11f0d9bc93ec7afc4a0be1/apps/documentation/static/grouped_atp_export_zipfile.json)
        of the `availabilty.json` file is similar to that of a global ATP export, but also includes the
        `last_updated_at` and `group_revision` properties.

        The zip file has a naming pattern of `availability_export-<export_id>`, where `<export_id>` refers
        to the unique ID corresponding to the ATP export request that produced the zip file.
      summary: Get ATP for channel
      operationId: get-atp-for-channel
      parameters:
        - name: group_name_or_availability_export_id
          in: path
          required: true
          schema:
            type: string
          description: |
            The identifier for the bulk export job contained in the response to the
            [Start global ATP export](#operation/start-global-atp-export) or the
            [Start ATP export for channel](#operation/start-channel-atp-export) methods.
  /availabilities/groups:
    get:
      responses:
        '200':
          description: Success. The response contains the identifier for the group.
          content:
            application/json:
              schema:
                title: Fulfillment location groups response
                description: Schema for the response sent when fulfillment location groups are requested.
                type: object
                required:
                  - availability_groups
                properties:
                  availability_groups:
                    type: array
                    items:
                      title: Fulfillment location group
                      description: Schema to group fulfilment nodes
                      type: object
                      required:
                        - group_name
                        - fulfillment_nodes
                      properties:
                        group_name:
                          type: string
                          description: The identifier for the fulfillment location group that can be used to request availabilities for a group of fulfilment nodes.
                          pattern: '^[-_0-9a-zA-Z]+$'
                        fulfillment_nodes:
                          type: array
                          minItems: 1
                          items:
                            type: string
                            description: List of fulfillment node identifiers for the locations included in this group.
        '500':
          description: An error occurred on the server.
          content:
            application/json:
              example:
                error_code: unexpected_error
                message: Internal error has occurred.
                request_id: '123.4567'
              schema:
                type: object
                required:
                  - error_code
                  - message
                  - request_id
                properties:
                  error_code:
                    description: A code describing the error.
                    type: string
                    minLength: 1
                  message:
                    description: A human-readable error message.
                    type: string
                  request_id:
                    description: Unique request identifier which caused the error. Can be used to further debug the root causes of this error.
                    type: string
      description: Returns all fulfillment location groups for which you can start an ATP export.
      summary: List fulfillment location groups
      operationId: list-fulfillment-location-groups
    post:
      responses:
        '200':
          description: |
            Success.
            Use the `group_name` contained in the response, in your request to
            [Start ATP export by channel](#operation/start-channel-atp-export).
          content:
            application/json:
              example:
                group_name: group_name
                fulfillment_nodes:
                  - FulfillmentNode01
                  - FulfillmentNode02
              schema:
                title: Fulfillment location group
                description: Schema to group fulfilment nodes
                type: object
                required:
                  - group_name
                  - fulfillment_nodes
                properties:
                  group_name:
                    type: string
                    description: The identifier for the fulfillment location group that can be used to request availabilities for a group of fulfilment nodes.
                    pattern: '^[-_0-9a-zA-Z]+$'
                  fulfillment_nodes:
                    type: array
                    minItems: 1
                    items:
                      type: string
                      description: List of fulfillment node identifiers for the locations included in this group.
        '400':
          description: The request body is invalid.
          content:
            application/json:
              example:
                messages:
                  - group_name is required
                  - fulfillment_nodes is required
                request_id: '123.4567'
              schema:
                type: object
                title: Error Response
                description: Error response sent for bad requests.
                required:
                  - messages
                properties:
                  error_code:
                    type: string
                    description: Custom error code which gives you more details about the error.
                  messages:
                    type: array
                    minItems: 1
                    items:
                      type: string
                      description: List of errors based on request.
                  request_id:
                    type: string
        '409':
          description: A group with this name already exists.
          content:
            application/json:
              example:
                error_code: fulfillment_node_group_already_exists
                message: Fulfillment node group 'group_name' already exists.
                request_id: '123.4567'
              schema:
                type: object
                title: Error Response for conflict
                description: Error response send if a request failed due to an conflict error.
                required:
                  - message
                properties:
                  error_code:
                    type: string
                    description: Custom error code which gives you more details about the error.
                  message:
                    type: string
                    description: Contains the reason of the error.
                  request_id:
                    type: string
        '500':
          description: An error occurred on the server.
          content:
            application/json:
              example:
                error_code: unexpected_error
                message: Internal error has occurred.
                request_id: '123.4567'
              schema:
                type: object
                required:
                  - error_code
                  - message
                  - request_id
                properties:
                  error_code:
                    description: A code describing the error.
                    type: string
                    minLength: 1
                  message:
                    description: A human-readable error message.
                    type: string
                  request_id:
                    description: Unique request identifier which caused the error. Can be used to further debug the root causes of this error.
                    type: string
      description: |
        Creates a group of fulfillment locations.

        Use the `group_name` contained in the response, in your request to
        [Start ATP export by channel](#operation/start-channel-atp-export).
      summary: Create fulfillment location group
      operationId: create-fulfillment-location-group
      requestBody:
        content:
          application/json:
            example:
              group_name: group_name
              fulfillment_nodes:
                - FulfillmentNode01
                - FulfillmentNode02
            schema:
              title: Fulfillment location group
              description: Schema to group fulfilment nodes
              type: object
              required:
                - group_name
                - fulfillment_nodes
              properties:
                group_name:
                  type: string
                  description: The identifier for the fulfillment location group that can be used to request availabilities for a group of fulfilment nodes.
                  pattern: '^[-_0-9a-zA-Z]+$'
                fulfillment_nodes:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    description: List of fulfillment node identifiers for the locations included in this group.
        required: true
  '/availabilities/groups/{group_name}':
    put:
      responses:
        '200':
          description: |
            Success.
            The response contains the group with the updates.
          content:
            application/json:
              example:
                group_name: group_name
                fulfillment_nodes:
                  - FulfillmentNode01
                  - FulfillmentNode02
              schema:
                title: Fulfillment location group
                description: Schema to group fulfilment nodes
                type: object
                required:
                  - group_name
                  - fulfillment_nodes
                properties:
                  group_name:
                    type: string
                    description: The identifier for the fulfillment location group that can be used to request availabilities for a group of fulfilment nodes.
                    pattern: '^[-_0-9a-zA-Z]+$'
                  fulfillment_nodes:
                    type: array
                    minItems: 1
                    items:
                      type: string
                      description: List of fulfillment node identifiers for the locations included in this group.
        '400':
          description: The request body is invalid.
          content:
            application/json:
              example:
                messages:
                  - group_name is required
                  - fulfillment_nodes is required
                request_id: '123.4567'
              schema:
                type: object
                title: Error Response
                description: Error response sent for bad requests.
                required:
                  - messages
                properties:
                  error_code:
                    type: string
                    description: Custom error code which gives you more details about the error.
                  messages:
                    type: array
                    minItems: 1
                    items:
                      type: string
                      description: List of errors based on request.
                  request_id:
                    type: string
        '404':
          description: 'The requested group in {group_name} was not found.'
          content:
            application/json:
              example:
                error_code: fulfillment_node_group_not_found
                message: Fulfillment node group 'group_name' was not found.
                request_id: '123.4567'
              schema:
                type: object
                title: Error Response when Fulfillment Node Group is not found
                description: Error response sent if a request failed due to a not found error.
                required:
                  - message
                properties:
                  error_code:
                    type: string
                    description: Custom error code which gives you more details about the error.
                  message:
                    type: string
                    description: Contains the reason of the error.
                  request_id:
                    type: string
        '500':
          description: An error occurred on the server.
          content:
            application/json:
              example:
                error_code: unexpected_error
                message: Internal error has occurred.
                request_id: '123.4567'
              schema:
                type: object
                required:
                  - error_code
                  - message
                  - request_id
                properties:
                  error_code:
                    description: A code describing the error.
                    type: string
                    minLength: 1
                  message:
                    description: A human-readable error message.
                    type: string
                  request_id:
                    description: Unique request identifier which caused the error. Can be used to further debug the root causes of this error.
                    type: string
      description: |
        Updates the details of the specified fulfillment location group.
      summary: Update fulfillment location group
      operationId: update-fulfillment-location-group
      requestBody:
        content:
          application/json:
            example:
              group_name: group_name
              fulfillment_nodes:
                - FulfillmentNode01
                - FulfillmentNode02
            schema:
              title: Fulfillment nodes
              description: Schema of fulfilment nodes
              type: object
              required:
                - fulfillment_nodes
              properties:
                fulfillment_nodes:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    description: List of fulfillment node identifiers.
        required: true
    delete:
      responses:
        '200':
          description: Success.
        '500':
          description: An error occurred on the server.
          content:
            application/json:
              example:
                error_code: unexpected_error
                message: Internal error has occurred.
                request_id: '123.4567'
              schema:
                type: object
                required:
                  - error_code
                  - message
                  - request_id
                properties:
                  error_code:
                    description: A code describing the error.
                    type: string
                    minLength: 1
                  message:
                    description: A human-readable error message.
                    type: string
                  request_id:
                    description: Unique request identifier which caused the error. Can be used to further debug the root causes of this error.
                    type: string
      description: |
        Deletes the specified fulfillment location group.
      summary: Delete fulfillment location group
      operationId: delete-fulfillment-location-group
    parameters:
      - name: group_name
        in: path
        required: true
        schema:
          type: string
        description: |
          The identifier for the fulfillment location group.
          Use the [List fulfillment location groups method](#operation/list-fulfillment-location-groups)
          to retrieve the ID.

